body {
	background-color: #f5f5f5;
	color: #333;
	font-family: Arial, sans-serif;
	margin: 0;
	padding: 0;
}

header {
	background-color: #8cc8f5;
	color: #fff;
	padding: 10px;
}

nav ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
}

nav ul li {
	display: inline-block;
	margin-right: 10px;
}

nav ul li a {
	color: #333;
	text-decoration: none;
}

main {
	background-color: #fff;
	padding: 10px;
}

article {
	border: 1px solid #ccc;
	margin-bottom: 20px;
	padding: 10px;
}

h1, h2 {
	color: #333;
	font-weight: normal;
}

footer {
	background-color: #ccc;
	color: #333;
	padding: 10px;
	text-align: center;
}
